.cdx-people-gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cdx-people-gallery-previewer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border: 1px solid lightgray;
  margin-bottom: 12px;
}

.cdx-people-gallery-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdx-people-gallery-avatar {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  z-index: 1;
}

.cdx-people-gallery-box {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  width: 100%;
  margin-left: -80px;
  padding-left: 100px;
  padding-right: 12px;
  border: 1px solid #dadada;
  border-radius: 20px;
}

.cdx-people-gallery-box-title {
  font-size: 18px;
  color: grey;
  margin-top: 30px;
  border: none;
  outline: none;
}

.cdx-people-gallery-box-title::placeholder {
  color: grey;
  opacity: 0.8;
}

.cdx-people-gallery-box-bio {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 10px;
  color: #c1c1c1;
  border: none;
  outline: none;
}

.cdx-people-gallery-box-bio::placeholder {
  color: #c1c1c1;
  opacity: 0.9;
}

.cdx-people-gallery-box-desc {
  font-size: 14px;
  outline: none;
}
